.u-section-1 .u-sheet-1 {
  min-height: 1245px;
}

.u-section-1 .u-text-1 {
  margin: 42px 507px 0 0;
}

.u-section-1 .u-list-1 {
  width: 622px;
  min-height: 500px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  margin: 49px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
  margin: -64px 0 0 115px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 20px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
  margin: -64px 0 0 115px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 20px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
  margin: -64px 0 0 115px;
}

.u-section-1 .u-image-1 {
  width: 120px;
  height: 120px;
  margin: -480px auto 0 891px;
}

.u-section-1 .u-image-2 {
  width: 135px;
  height: 135px;
  margin: 43px 120px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 131px;
  height: 131px;
  margin: 37px 124px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 138px;
  height: 138px;
  margin: 42px auto 0 883px;
}

.u-section-1 .u-list-2 {
  width: 622px;
  min-height: 500px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  margin: -155px auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 20px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
  margin: -64px 0 0 115px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 20px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
  margin: -64px 0 0 115px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 20px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  text-shadow: 0 -2px 8px rgba(128,128,128,1);
  margin: -64px 0 0 115px;
}

.u-section-1 .u-image-5 {
  width: 135px;
  height: 135px;
  margin: -318px 119px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 138px;
  height: 138px;
  margin: 43px 121px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 307px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    margin-top: 60px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 820px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 114px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -184px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -78px;
    margin-left: 802px;
  }

  .u-section-1 .u-list-2 {
    height: auto;
    margin-top: -17px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 87px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 600px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 582px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 73px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 73px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 73px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 420px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 130px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 30px;
    margin-left: 402px;
  }

  .u-section-1 .u-list-2 {
    width: 540px;
    margin-top: 35px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 73px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 73px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 73px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 220px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 152px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 202px;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
    margin-top: 13px;
    margin-bottom: 12px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }
}